@model Garagem
@{
    ViewData["Title"] = "Editar Garagem";
    IEnumerable<Imovel> imovels = (IEnumerable<Imovel>)ViewBag.DadosImoveis;
}

@if (TempData["MensageErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensageErro"];
    </div>
}

<form asp-controller="Garagem" asp-action="RemoverGaragem" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="codImovel">Código garagem</label>
            <input type="text" asp-for="codGaragem" value="@Model.codGaragem" class="form-control" id="CodGaragemn" disabled="">
        </div>
        <div class="form-group col-md-12">
            <label for="proprietario">Próprietário</label>
            <select asp-for="IdImovel" class="form-control" required disabled="">
                <option value="0">Selecione</option>
                @foreach (var imovel in imovels)
                {
                    @if (imovel == Model.Imovel)
                    {
                        <option value="@imovel.Id" selected="selected">@imovel.codImovel</option>
                    }
                    else
                    {
                        <option value="@imovel.Id">@imovel.codImovel</option>
                    }
                }
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Remover</button>
    <button type="submit" asp-controller="Garagem" asp-action="Index" class="btn btn-secondary btn-block">Voltar</button>
</form>